/*

Title: form.html Styles
By: Colby Viola
Colby Viola
MIU Project 3

*/
.ui-grid-b img {
    width  : 100%;
    height : auto;
}

label.error{display:block; margin: 10px 0;}

#movielist{font-size: 30px;}