/*
By: Colby Viola
MIU Project 3

*/
/*
*{font-family: "Times New Roman"; font-size: 14px; font-variant: small-caps}

body{margin: auto; padding: 5px; background: #B4D8E0}
#content {width: 480px; height: 690px; overflow: scroll}
#navcontainer ul { list-style-type: none;}
legend{color: #828282;}


a:focus {color: aqua;}
a:hover {color: aqua;}
a:active {color: red;}

h1{
	margin: 10px;
	border: 1px solid black;
	padding: 5px;
	background: #7CB3FC;
	width: 50%;
	text-align: center
}

p{text-align: ltr}

fieldset{
	background: #ABCAEE;
	font-family: "Times New Roman", Times, serif;
	direction: ltr;
	margin: 10px;
}

span{
	font-size: 11px;
	color: #E80707;
	font-style: italic;
	padding: 5px
}
*/
#home{background-image:url("http://i52.photobucket.com/albums/g29/anchov13/spotlight.jpg");
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
}

label.error{display:block; margin: 10px 0; color:#cc0000;}

#amerrorslink{display:none;}

